PORT=5000
JWT_SECRET=brave_planet_super_secret
CLIENT_URL=http://localhost:5173
TEXTUP_API_KEY=your_textup_key
TEXTUP_API_SECRET=your_textup_secret
TEXTUP_API_URL=https://rest.smsportal.com/bulkmessages
